body{
    background-color: lavenderblush;
}
h1{
    font-style: italic; size: 40ch;
}
h1{
    background-color: black; color: red;
}
h2{
    background-color: lavenderblush; color: black;
}
h3{
    background-color: lavenderblush; color: black
}