h1{
    background-color: lightgrey;
}
h1{
    color: aqua;
}
h1{ 
    border-color: brown;
}
body{
    background-color:lavenderblush;
}
body{ 
    color: blue;
}
body{
    image-orientation: from-image;
}
footer{
    background-color:whitesmoke;
}
footer{
    color: black;
}