h1{
    background-color: rgb(26, 87, 44);
}
h1{
    color: rgb(6, 9, 68);
}
h1{ 
    border-color: brown;
}
body{
    background-color:lavenderblush;
}
body{ 
    color: blue;
}
body{
    image-orientation: from-image;
}
img{
    border: 6cm;
}
img{
    border-color: black;
}
footer{
    background-color:whitesmoke;
}
footer{
    color: black;
}